In [1]:
from sklearn.ensemble import BaggingClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn import tree
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.tree import plot_tree
from sklearn.metrics import roc_auc_score,accuracy_score,r2_score
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer 
from sklearn.compose import make_column_selector
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [12]:
cancer = pd.read_csv('BreastCancer.csv').set_index('Code')

In [13]:
X = cancer.drop('Class',axis=1)
y = cancer['Class']

In [14]:
X

,Clump,UniCell_Size,Uni_CellShape,MargAdh,SEpith,BareN,BChromatin,NoemN,Mitoses
Code,,,,,,,,,
61634,5,4,3,1,2,2,2,3,1
63375,9,1,2,6,4,10,7,7,2
76389,10,4,7,2,2,8,6,1,1
95719,6,10,10,10,8,10,7,10,7
128059,1,1,1,1,2,5,5,1,1
...,...,...,...,...,...,...,...,...,...
1369821,10,10,10,10,5,10,10,10,7
1371026,5,10,10,10,4,10,5,6,3
1371920,5,1,1,1,2,1,3,2,1
8233704,4,1,1,1,1,1,2,1,1
13454352,1,1,3,1,2,1,2,1,1

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=24, test_size=0.3,stratify=y)

In [16]:
lr = LogisticRegression(random_state=24)
bagg = BaggingClassifier(estimator=lr,random_state=24)
bagg.fit(X_train,y_train)
y_pred = bagg.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.9714285714285714

### With svm

In [17]:
svm = SVC(probability=True,random_state=24)
bagg = BaggingClassifier(estimator=svm,random_state=24)
bagg.fit(X_train,y_train)
y_pred = bagg.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.9714285714285714