In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [17]:
rfm= pd.read_csv("rfm_data_customer.csv", index_col=0)
rfm.drop('most_recent_visit', inplace=True, axis=1)

In [18]:
rfm.head(2)

             revenue  number_of_orders  recency_days
customer_id
22086            777                 9           232
2290            1555                16           115

In [19]:
scaler = StandardScaler().set_output(transform='pandas')
rfm_scaled= scaler.fit_transform(rfm)
clust= KMeans(n_clusters=3)
clust.fit(rfm_scaled)
print(clust.labels_)

[2 1 2 ... 2 2 1]

In [16]:
scores= []
n_clust= [2,3,4,5,6]
for i in n_clust:
        clust =KMeans(n_clusters=i, random_state=24)
        clust.fit(rfm_scaled)
        scores.append(silhouette_score(rfm_scaled, clust.labels_))    
print(scores)
i_max= np.argmax(scores)
print("Best no of clusters:", n_clust[i_max])

[0.3619175885782477, 0.37102897041720206, 0.3229983236688364, 0.3249751004529168, 0.288058231818753]
Best no of clusters: 3

In [27]:
i_max

1

In [25]:
clust= KMeans(n_clusters=3, random_state=24)
clust.fit(rfm_scaled)
silhouette_score(rfm_scaled, clust.labels_)

0.37102897041720206

In [28]:
#Cluster Analysis

In [26]:
rfm_clust= rfm.copy()
rfm_clust['cluster'] = clust.labels_

rfm_clust.groupby('cluster').mean()

             revenue  number_of_orders  recency_days
cluster
0        1281.119459         12.909267    133.255123
1         749.292247          8.227773    136.139784
2         692.414498          7.351090    416.697185

In [29]:
rfm.shape[0]

39999